<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Alex's API</title>
</head>
<body>

<body>

      <!-- Nav Bar Start -->
      <nav class="home">
        <h1>Alto Energy</h1>
        <ul class="home_links">
            <li><a href="{{ url_for('site.home') }}">Home</a></li>
            <li><a href="{{ url_for('site.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('site.about') }}">About</a></li>
            <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
            <li><a href="{{ url_for('auth.signup') }}">Sign Up Free!</a></li    >
         </ul>    
    </nav>

    <!-- Nav Bar End -->

    {% block content %}
    {% endblock content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    
</body>
</html>