{%extends 'base.html'%}

{% block content %}
<div class="hero-image-p">
    <div class="hero-text-a">
        <h2>About Alto Energy!</h2>
        <h5>Unlike other industries where digitisation is the norm, 
            the energy sector is a child by comparison.  In many countries, 
            electricity is still purchased via a sales representative using a 
            paper contract. Many energy retailers, (renewable) energy producers 
            or grid operators rely on externally developed IT tools to support 
            their core business. And most energy is still billed in a classic way,
            through paper or PDF invoices. In today’s digital world this may seem 
            incredible.  However, the sector is catching up and that's where Alto comes in!</h5>
    </div>
</div>
{% endblock content %}