{%extends 'base.html'%}

{% block content %}
<div class="hero-image-p">
    <div class="hero-text-p">
        <h2>Welcome to Alto Energy!</h2>
        <h5>Create an amazing API tool to connect to Renewable
            Energy Production Developers across the globe</h5>
    </div>
</div>

<div class="container">
    <br>
    <h3>Here are your profile details</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: test@gmail.com</li>
        <li class="list-group-item">Token: </li>
    </ul>

    <!-- TODO: Add access key -->
</div>



{% endblock content %}